/* styles.css */
@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.profile-description {
  font-size: 1em;
  color: #555;
}

.profile-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  border-radius: 5px;
}

.profile-link:hover {
  background-color: #0056b3;
}


.social-links {
  margin-top: 15px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
  color: #007BFF;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0056b3;
}

.skills {
  margin-top: 20px;
}

.skill {
  margin-bottom: 10px;
}

.skill-name {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  background-color: #ddd;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
}

.skill-level {
  background-color: #007BFF;
  height: 100%;
  border-radius: 5px;
}
